.slick-slide > div > img {
    width :auto ! important;
}

.slick-slide > div {
    display: flex;
    justify-content: center;
}

.scaleForward{
	transform-origin: 50px 50px;
    animation: scaleForward 0.7s ease 0s 1 normal forwards;
}


@keyframes scaleForward {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}